.header__language {
  margin-right: 18px;
} 

.header__language:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__language {
    font-size: 18px;
    line-height: 20px;
  }
}