@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);


.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
  max-width: 1148px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  margin: 0 auto 56px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__languages {
  list-style: none;
  display: flex;
}
.header__language {
  margin-right: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.header__language:last-child {
  margin-right: 0px;
}